:root{


.hero-image{
position:relative;
width:100%;
height:360px;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
background:#111;
}
.hero-image img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}


.hero-image .nums{
position:absolute;
left:18px;
top:30px;
color:#fff;
font-weight:700;
font-size:20px;
line-height:1.8;
text-shadow:0 1px 0 rgba(0,0,0,0.6);
}
.hero-image .nums .n2{
position:absolute;
top:72px;
}


.card p{
font-family: 'Oswald', Arial, sans-serif;
font-size:15px;
font-weight:800;
text-transform:uppercase;
letter-spacing:1.2px;
text-align:left;
color:#000;
margin:20px 78px 25px;
line-height:1.25;
}


.mascot{
display:flex;
justify-content:center;
margin-top:6px;
}
.mascot img{
width:192px;
height:192px;
object-fit:contain;
}


@media (max-width:860px){
.card{width:94%}
.masthead h1{font-size:56px}
.hero-image{height:260px}
}
